/*! purgecss start ignore */
.bg-dark {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}
.bg-danger {
  background: linear-gradient(to right, rgb(127, 0, 255), rgb(102, 18, 158));
}
.btn-primary {
  background: linear-gradient(to right, rgb(9, 48, 40), rgb(35, 122, 87));
}
.btn-secondary {
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
}
.btn-warning {
  background: linear-gradient(to right, rgb(247, 151, 30), rgb(255, 210, 0));
}

.btn,
.btn:focus {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
}
.btn:active {
  animation: click 0.2s ease-in-out !important;
}

.text-warning {
  text-transform: uppercase;
}
.one-edge-shadow {
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .one-edge-shadow {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px !important;
    border-radius: 10px;
  }
  .navbar {
    /* padding: 4px !important; */
  }
  .navbar-brand > a {
    padding: 2px;
  }
}

.top-edge-shadow {
  box-shadow: 0px 10px 5px black, 0px -5px 5px -2px black;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
  animation: cardAnim 0.7s;
}

.box:hover {
  transform: translateX(-10px) translateY(-10px);
}

img {
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  border-radius: 5px;
}
.imgbox {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.imgbox:hover {
  transform: translateX(-10px) translateY(-10px);
}

form {
  width: 100%;
}
.form-control {
  border-radius: 10px !important;
  background-color: inherit !important;
  color: whitesmoke !important;
  /* border: 2.1px solid blueviolet !important; */
  border: 2.1px solid #6c63ff !important;
  opacity: 0.8;
  transition: transform 0.5s ease-in-out !important;
}

.form-control::placeholder {
  color: #6c63ff !important;
  text-transform: uppercase;
}
.form-control:focus::placeholder {
  color: white !important;
}
.form-control:focus {
  border: 2.1px solid white !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
}
.form-control:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transform: translateX(-3px) translateY(-3px) scale(0.95);
}
.form-group span {
  text-align: center;
  width: inherit !important;
}
.form-group .form-error {
  margin-left: 10px;
  color: gold;
  text-align: center;
}
.form-group .form-error:not(:first-child) {
  display: none;
}

.form-group span:not(:first-child) {
  display: none;
}
@keyframes click {
  0% {
    transform: scaleX(1) translateY(4px);
  }
  50% {
    transform: scaleX(1.1) translateY(4px);
  }
  100% {
    transform: scaleY(1) translateY(-4px);
  }
}
@keyframes cardAnim {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  99% {
    transform: scale(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cases .card-body {
  background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224));
  border-radius: inherit;
}

.cases .card-header {
  box-shadow: 0 8px 6px -6px black;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  z-index: 20;
  border: 1px solid rgb(127, 0, 255);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px black !important;
}

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  width: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.lzy_img {
  background-color: #fff;
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 12px;
  border-radius: 5px;
  box-shadow: 9px 17px 45px -29px rgba(0, 0, 0, 0.44);
}

.lzy_img__image.loading {
  height: 300px;
  width: 100%;
}

.lzy_img__title.loading {
  height: 1rem;
  width: 50%;
  margin: 1rem;
  border-radius: 3px;
}

.lzy_img__description.loading {
  height: 3rem;
  margin: 1rem;
  border-radius: 3px;
}
.loading {
  position: relative;
  background-color: #e2e2e2;
}
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  transform: translateX(0%);

  background: linear-gradient(
    90deg,
    transparent,
    rgba(148, 110, 110, 0.2),
    transparent
  );
  animation: loading 1s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(40%);
  }
}

.home-card {
  background-image: url(/assets/justice.svg);
  background-position: right;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .home-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*! purgecss end ignore */
