@media only screen and (min-width: 750px) {
  .login {
    .form-control {
      min-width: 500px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .login {
    .glass {
      width: 100%;
    }
  }
  .foot-link {
    font-size: 13px;
  }
}
